/*=============Chess Menu================*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #d0d0d0;
}
.navbar .logo img {
    width: 125px;
    height: auto;
}
.navbar {
    width: 100%;
    padding: 18px 50px;
    background-color:#2C2F35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
}

.nav-links {
    list-style: none;
    display: flex;
    gap:35px; 
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    position: relative;
    padding-bottom: 4px;
    transition: 0.3s ease;
}
.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 2px;
    background: #04BD7D;
    border-radius: 5px;
    transition: width 0.3s ease;
}
.nav-links li a:hover {
    color: #04BD7D;
}
.nav-links li a:hover::after{
    width: 100%;
}

.hamburger {
    display: none;
}
 /*==============Board=================*/

 /* Contenedor principal */
.containerChess {
    padding-top: 110px; /* espacio para navbar */
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    gap: 20px;
}

/* Tablero */
.board {
    display: grid;
    grid-template-rows: repeat(8, 55px);
    grid-template-columns: repeat(8, 55px);
    gap: 0;
    border: 2px solid #8ec9c9;
   
}

/* Cada casilla */
.box {
    width: 55px;
    height: 55px;
    background-color: #ffffff; /* casilla clara por defecto */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Alternar color de casillas */
.row:nth-child(even) .box:nth-child(odd),
.row:nth-child(odd) .box:nth-child(even) {
    background-color: #8ec9c9; /* casilla oscura */
}

.sidebar {
    width: 200px;
}
.panel {
    background-color: #cfeeee;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
    width: 200px; 
}
.panel h2 {
    font-size: 16px;
}

.panel p {
    font-size: 15px;
}

.all-img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    pointer-events: none;
    display: block;
    margin: 0 auto;
}

/* =================Dice===============*/
.dice {
    font-size: 60px;
    margin: 5px;
    padding: 0px;
    line-height: 0.7;  /* elimina espacio extra vertical */
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/*===============Animation Dice========*/
.roll-animation {
    animation-name: roll;
}
@keyframes roll{
    0%{
        transform: rotateY(0deg) rotateX(0deg);
    }
    100%{
        transform: rotateY(720deg) rotateX(720deg);
    }

}

button{
    background-color: #04BD7D;
    color: #ffffff;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: background-color .3s  ease;
    margin: 10px;
}

button:hover {
    background-color: #8ec9c9;
}
ul{
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 5px ;
}
#roll-history li {
    font-size: 14px;
    padding: 3px;
    margin: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgb(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0.75;
}
#roll-history span{
    font-size: 25px;
}

/*Conteiner Scroll*/
#roll-history-container{
    width: 180px;
    height: 150px;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 5px;
    overflow-y: auto;
    background-color: #f9f9f9;
}
