/*=============Chess Menu================*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #d0d0d0;
}
.navbar .logo img {
    width: 125px;
    height: auto;
}
.navbar {
    width: 100%;
    padding: 18px 50px;
    background-color:#2C2F35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
}

.nav-links {
    list-style: none;
    display: flex;
    gap:35px; 
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    position: relative;
    padding-bottom: 4px;
    transition: 0.3s ease;
}
.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 2px;
    background: #04BD7D;
    border-radius: 5px;
    transition: width 0.3s ease;
}
.nav-links li a:hover {
    color: #04BD7D;
}
.nav-links li a:hover::after{
    width: 100%;
}

.hamburger {
    display: none;
}
 /*==============Board=================*/

 /* Contenedor principal */
.containerChess {
    padding-top: 110px; /* espacio para navbar */
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    gap: 20px;
}

/* Tablero */
.board {
    display: grid;
    grid-template-rows: repeat(8, 50px);
    grid-template-columns: repeat(8, 50px);
    gap: 0;
    border: 2px solid #8ec9c9;
   
}

/* Cada casilla */
.box {
    width: 50px;
    height: 50px;
    background-color: #ffffff; /* casilla clara por defecto */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Alternar color de casillas */
.row:nth-child(even) .box:nth-child(odd),
.row:nth-child(odd) .box:nth-child(even) {
    background-color: #8ec9c9; /* casilla oscura */
}

.sidebar {
    width: 100px;
}
.panel {
    background-color: #cfeeee;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
    width: 150px; 
}
.panel h2 {
    font-size: 16px;
}

.panel p {
    font-size: 13px;
}

.all-img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    pointer-events: none;
    display: block;
    margin: 0 auto;
}
