.containerProtokoll {
    padding: 50px;
    margin: 150px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;   
    background-color: #cfeeee;
    border-radius: 10px;
    text-align: center;
    width: 600px; 
}

.formProtokoll {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}